<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dramaexperiencecube">

    <!-- 저장소 읽기 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 저장소 쓰기 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 오디오 재생 권한 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="landscape" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"> <!-- 가로모드 고정 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SubActivity1"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".SubActivity2"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ReadyActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".TraningActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".RealityActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ReadingActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".ColorActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".color.Red"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name=".color.Blue"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:name=".color.Yellow"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:name=".color.Gray"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:name=".YesoryesActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".MyPlanActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".MovingActivity"
            android:screenOrientation="landscape"/>

    </application>

</manifest>